body {
  font-family: 'Lato', 'sans-serif';
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: $color-gray;
  padding: 2rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* remove a very little shake at the end of the animation */
  backface-visibility: hidden;
  margin-bottom: 2rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation: moveInFromLeft 1s ease-in-out;
    /* animation: moveInFromLeft 1.5s 0.5s 3 ease-in-out; */
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    animation: moveInFromRight 1s ease-in-out;
  }
}